<!-- Page 3: Solat Berjemaah -->
<div id="alert-jemaah" class="alert-page hidden">
    <div class="alert-jemaah-bg"></div>
    <div class="alert-jemaah-particles">
        <div class="jemaah-particle p1"></div>
        <div class="jemaah-particle p2"></div>
        <div class="jemaah-particle p3"></div>
        <div class="jemaah-particle p4"></div>
        <div class="jemaah-particle p5"></div>
        <div class="jemaah-particle p6"></div>
    </div>
    <div class="alert-jemaah-content">
        <div class="jemaah-icon">
            <svg width="120" height="120" viewBox="0 0 24 24" fill="#f0c040">
                <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
            </svg>
        </div>
        <div class="jemaah-title">SOLAT BERJEMAAH</div>
        <div class="jemaah-prayer-name" id="jemaah-prayer-name"></div>
        <div class="jemaah-line"></div>
    </div>
</div>
